body{
    background-color: rgba(88, 102, 102, 0.351);
}

h3{
    text-align: center;
    margin-top: 5%;
    color: rgba(22, 65, 207, 0.797);
    font-family: 'Times New Roman', Times, serif;
}